In [ ]:
#@title Factorial

def factorial(n):
  a=isinstance(n,int)
  if a==True:
    if n==0:
      return 1
    if n>0:
      for i in range(1,n):
        n=n*i
      return n
    if n<0:
      return 'no es posible calcular factorial para valores negativos'
  else:
    return 'solo es posible calcular el factorial para números enteros'


print(f'El factorial de 10: {factorial(10)}')
print(f'El factorial de 1: {factorial(1)}')
print(f'El factorial de 0: {factorial(0)}')
print(f'Para el valor 3.5: {factorial(3.5)}')
print(f'Para el valor -4: {factorial(-4)}')

El factorial de 10: 3628800
El factorial de 1: 1
El factorial de 0: 1
Para el valor 3.5: solo es posible calcular el factorial para números enteros
Para el valor -4: no es posible calcular factorial para valores negativos

# Actividad 01


1. Crea una función llamada `doble_factorial` que reciba un parámetro llamado `n`. La función debe devolver el doble factorial de `n`, que se define como el producto de todos los números naturales desde n hasta 1 que tienen el mismo paridad que n. Por ejemplo, si `n` es 5, la función debe devolver 15, que es el resultado de 5 x 3 x 1. Llama a la función `doble_factorial` con diferentes valores para el parámetro `n`, como 6, 7 o 8.

2. Crea una función llamada `lucas` que reciba un parámetro llamado `n`. La función debe devolver el n-ésimo término de la sucesión de Lucas, que se define de forma similar a la sucesión de Fibonacci, pero con los dos primeros términos iguales a 2 y 1. Por ejemplo, si `n` es 3, la función debe devolver 4, que es el tercer término de la sucesión. Llama a la función `lucas` con diferentes valores para el parámetro `n`, como 9, 10 o 11.

3. Crea una función llamada `binomial` que reciba dos parámetros llamados `n` y `k`. La función debe devolver el coeficiente binomial de `n` y `k`, que se define como el número de formas de elegir k elementos distintos de un conjunto de n elementos. Por ejemplo, si `n` es 5 y `k` es 3, la función debe devolver 10, ya que hay diez formas de elegir tres elementos distintos de un conjunto de cinco elementos. Llama a la función `binomial` con diferentes valores para los parámetros `n` y `k`, como 6 y 4, o 7 y 2.

La entrega se realizará de dos formas:

1. Creando un archivo de jupyter con extension actividad_01.ipynb.
2. Creando un archivo llamado actividad_01.py,

In [ ]:
#@title 1)
def doble_factorial(n):
  prueba=isinstance(n,int)
  negativos='no es posible calcular factorial para valores negativos'
  if prueba==True:
    par=n%2
    if par==0:
      if n==0:
        return 1
      if n>0:
        for i in range(2,n,2):
          n=n*i
      return n
      if n<0:
        return negativos
    else:
      if n>0:
        for i in range(1,n,2):
          n=n*i
        return n
      if n==0:
        return 1
      if n<0:
        return negativos
  else:
    return 'solo es posible calcular el factorial para números enteros'

print(f'El doble factorial de 6 es: {doble_factorial(6)}')
print(f'El doble factorial de 7 es: {doble_factorial(7)}')
print(f'El doble factorial de 8 es: {doble_factorial(8)}')

El doble factorial de 6 es: 48
El doble factorial de 7 es: 105
El doble factorial de 8 es: 384

In [ ]:
#@title 2)
def lucas(n):
  prueba=isinstance(n,int)
  L_1=2
  L_2=1
  L=[L_1,L_2]

  if prueba==True and prueba>0:
    for x in range(0,n-1):
      L_sum=L_1+L_2
      L_1=L_2
      L_2=L_sum
      L.append(L_sum)
    return L[n]

print(f'El noveno término de la sucesión es : {lucas(9)}' )
print(f'El décimo término de la sucesión es : {lucas(10)}' )
print(f'El undécimo término de la sucesión es : {lucas(11)}')
lucas(3)

El noveno término de la sucesión es : 76
El décimo término de la sucesión es : 123
El undécimo término de la sucesión es : 199

4

In [ ]:
#@title 3)
def binomial(n,k):
  prueba_n=isinstance(n,int)
  prueba_k=isinstance(k,int)
  if prueba_n==True and prueba_k==True and n>=k:
    resta=n-k
    bn=(factorial(n)/((factorial(k))*(factorial(resta))))
    return bn
  else:
    return 'Nos es posible el cálculo con los valores dados'

print(f'La combinación de 6 y 4: {binomial(6,4)}')
print(f'La combinación de 7 y 2: {binomial(7,2)}')

La combinación de 6 y 4: 15.0
La combinación de 7 y 2: 21.0