- **Doble Funcion**

In [ ]:
n=int(7)
x=n
for i in range(1,n,2):
  x=x*i
print(x)

105

In [ ]:
x=int(10)

for i in range(2,x,2):
  x=x*i
print(x)

3840

In [ ]:
def doble_factorial(a):
  if a < 0:
    print("el factorial no esta definido para los numeros negativos")

  if a % 2 ==0:
    for i in range(2,a,2):
      a=a*i
    print(a)

  else:
    for i in range(1,a,2):
      a=a*i
    print(a)

doble_factorial(10)

3840

 - ***sucesion de lucas***

In [ ]:
a=int(2)

n=1
m=2

for i in range(2,a):
  suma=m+n
  m=n
  n=suma
print(suma)

3

In [ ]:
def lucas(a):
  if a<=0:
    print("el valor debe ser positivo 0 mayor a cero")

  if a==1:
    print("2")

  if a==2:
    print("1")

  if a>2:
    n=1
    m=2
    for i in range(2,a):
      term=m+n
      m=n
      n=term
    print(term)

lucas(20)

9349

fu

- **funci√≥n binomial**

In [ ]:
x=int(5)
n=x
for i in range(1,n):
  x=x*(n-i)
print(x)

120

In [ ]:
y=int(3)
k=y
for i in range(1,k):
  y=y*(k-i)
print(y)

6

In [ ]:
z=n-k
w=z

for i in range(1,z):
  w=w*(z-i)
print(w)

2

In [ ]:
binomial= x/(y*(w))
print(binomial)

10.0

In [ ]:
def binomial(x,y):
  if x<0 and y<0:
    print("los deben ser positivos")

  if x==y:
    print("no esta definida")

  else:
    n=x
    for i in range(1,n):
     x=x*(n-i)

    k=y
    for i in range(1,k):
      y=y*(k-i)

    z=n-k
    w=z
    for i in range(1,z):
      w=w*(z-i)

    bin= x/(y*(w))
    return(bin)

binomial(5,4)

5.0