**COCIENTE**

In [ ]:
#se le piden dos numeros y nso retorne la divisiòn y el modulo
n=int(input("Entra un primer nùmero entero: "))
b=int(input("Entra un segundo nùmero entero: "))
x=n/b
z=n%b
print("La división entre",n,"y",b,"es: ",x)
print("El residuo entre",n,"y",b,"es: ",z)

Entra un primer nùmero entero: 4
Entra un segundo nùmero entero: 8
La división entre 4 y 8 es:  0.5
El residuo entre 4 y 8 es:  4

**DOBLE FACTORIAL**

In [27]:
def doble_factorial(n):
    s=n
    while(n>2):
        n=n-2
        s=s*n
    return(s)

n=7
r=doble_factorial(n)
print("EL doble factorial de",n,"es: ",r)
n=6
r1=doble_factorial(n)
print("EL doble factorial de",n,"es: ",r1)
n=8
r2=doble_factorial(n)
print("EL doble factorial de",n,"es: ",r2)

EL doble factorial de 7 es:  105
EL doble factorial de 6 es:  48
EL doble factorial de 8 es:  384

**SUCECION DE LUCAS**

In [ ]:
def Lucas(n):
#n=int(input("Escribe: "))
  sl=0
  s=[1,3]
  s1=[1]
  s2=[1,3]
  if n==0:
    print("ERROR: La n posición debe ser mayor a uno [n>0]","\n")
  elif n==1:
    print("La suceción de Lucas hasta la posición 1 y el unico elemento es:", s1,"\n")
  elif n==2:
    print("La suceción de Lucas hasta la posición 2 es:",s2,"\n")
    print("El numero en la posición 2 es: ",s[1],"\n")
  else:
    for i in range(1,n-1):
      sl=s[i]+s[i-1]
      s.append(sl)
    print("La suceción de Lucas hasta la posición",n,"es:", s,"\n")
    print("El número ubicado en la posición",n,"es: ",s[i+1],"\n")


Lucas(2)
Lucas(10)
Lucas(0)
Lucas(1)

La suceción de Lucas hasta la posición 2 es: [1, 3]

El numero en la posición 2 es:  3

La suceción de Lucas hasta la posición 10 es: [1, 3, 4, 7, 11, 18, 29, 47, 76, 123]

El número ubicado en la posición 10 es:  123

ERROR: La n posición debe ser mayor a uno [n>0]

La suceción de Lucas hasta la posición 1 y el unico elemento es: [1]

**COEFICIENTE BINOMIAL**

In [ ]:
#Coeficiente binomial
def factorial(n):
  fact=1
  for i in range(1,n+1):
    fact*=i
  return fact

def binomial(n,k):
  n_factorial=factorial(n)
  k_factorial=factorial(k)
  l=n-k
  l_factorial=factorial(l)
  coef_bi=(n_factorial)/((k_factorial)*(l_factorial))
  #print(n_factorial, k_factorial, l_factorial, coef_bi)
  print("El coeficiente binomial de (",n,",",k,") es: ",coef_bi)

binomial(6,2)
binomial(6,4)
binomial(3,2)

El coeficiente binomial de ( 6 , 2 ) es:  15.0
El coeficiente binomial de ( 6 , 4 ) es:  15.0
El coeficiente binomial de ( 3 , 2 ) es:  3.0