Factorial(Funci贸n)

In [2]:
def Factorial(n):
  var1=n
  if n==0:
    return 1
  elif n>0:
    for i in range (n-1):
      var2=n
      n=var2*(var1-(i+1))
  return n
var3=int(input())
x=Factorial(var3)
print(x)

1
1

Doble factorial funci贸n

In [ ]:
def doble_factorial(x):
  var1=x
  i=0
  if x%2==0:
    while (i+2)!=var1:
      var2=x
      x=var2*(var1-(i+2))
      i=i+2
    return x
  else:
    while (var1-(i+2))!=1:
      var2=x
      x=var2*(var1-(i+2))
      i=i+2
    return x
y=doble_factorial(7)
print(y)

35
105
105

Sucesi贸n de Lucas(funci贸n)

In [ ]:
def lucas(x):
  if x==1:
    return 2
  elif x==2:
    var4=2
    var5=1
    print(var4)
    print(var5)
  elif x>2:
    var4=2
    var5=1
    print(var4)
    print(var5)
    var1=2
    var2=1
    i=3
    while i<=x:
      var3=var1+var2
      var1=var2
      var2=var3
      i+=1
      print(var3)
    return True
y=lucas(int(input()))

5
2
1
3
4
7

Binomial

In [5]:
def binomial(n,k):
  if n<=k or n<0 or k<0:
    return False
  else:
    binom=(Factorial(n))/(Factorial(k)*Factorial(n-k))
    return binom
x=binomial(5,3)
y=binomial(6,4)
z=binomial(7,2)
print(x," ",y," ",z)

10.0   15.0   21.0