In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("Lab04_pandas.ipynb")

In [1]:
#import otter
import pandas as pd
import numpy as np
%matplotlib inline
#import otter
import matplotlib.pylab as plt
#grader = otter.Notebook()


**Pregunta  1:** Para los planetas de nuestro sistema solar, construir una serie de pandas  `ds` con indice nombre del planeta y valor la distancia al sol en UA. 

Puedes intentanar generarlos con una IA, ejemplo de prompt:

hint: 
`Generar un diccionario cuya clave es el nombre del planeta y valor la distancia al sol en UA`


a. Acceder al valor de mercurio y almacenarlo en una variable llamada dM.

b. Acceder al valor de Jupyter y almacenarlo en una variable llamada dJ.

c. Generar una nueva serie con los planetas cuya distancia es menor a 10UA, almacenarla en s

In [2]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']
distances = [0.39, 0.72, 1, 1.52, 5.2, 9.58, 19.22, 30.05]

ds = pd.Series(distances, index=planets)
dM = ds['Mercurio']
dJ = ds['Júpiter']
s = ds[ds < 10]

s

Mercurio    0.39
Venus       0.72
Tierra      1.00
Marte       1.52
Júpiter     5.20
Saturno     9.58
dtype: float64

In [3]:
grader.check("q1")

NameError: name 'grader' is not defined

**Pregunta 2:** 

a. Construir una serie de pandas  `dt`, con indice nombre del planeta y valor el periodo orbital en unidades de periodos terrestres.

b. Construir un dataframe de  pandas `df` con la serie ds y la serie dt, los nombres de las columnas deberán ser:
 `DistanciaSolUA`, `PeriodoUT`, el indice debe ser el nombre del planeta

In [4]:
planet = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Júpiter', 'Saturno', 'Urano', 'Neptuno']
p_orbital = [0.21, 0.62, 1, 1.88, 11.86, 29.46, 84.02, 164.8]

dt = pd.Series(p_orbital, index=planet)
df = pd.DataFrame({'DistanciaSolUA':ds, 'PeriodoUT':dt})
df

          DistanciaSolUA  PeriodoUT
Mercurio            0.39       0.21
Venus               0.72       0.62
Tierra              1.00       1.00
Marte               1.52       1.88
Júpiter             5.20      11.86
Saturno             9.58      29.46
Urano              19.22      84.02
Neptuno            30.05     164.80

In [ ]:
grader.check("q2")

**Pregunta 3:** El dataset [Temperature_Bogota_Barcelona](https://github.com/hernansalinas/Curso_Metodos_Computacionales/blob/main/Entregas/Parciales/Parcial1/dataset/Temperature_Bogota_Barcelona.csv)
 contiene información de la temperatura (en grados Fahrenheit) promedio de Bogotá y Barcelona desde el año 1995. Para el presente dataset realizar lo siguiente:
 
 
 a. Leer el dataset desde el link sugerido.

 b. Eliminar las columnas Month,  day y Unnamed

 c. Adicionar una nueva columna llamada `AvgTempCelcius` con la temperatura en grados celcius. $ C=(F-32)/1.8$

In [5]:
path = "https://raw.githubusercontent.com/hernansalinas/Curso_Metodos_Computacionales/main/Entregas/Parciales/Parcial1/dataset/Temperature_Bogota_Barcelona.csv"
df = pd.read_csv(path)
#del df['Month']
col = ['Unnamed: 0', 'Month', 'Day']
dff = df.drop(col, axis = 1)

dff['AvgTempCelcius'] = (dff['AvgTemperature'] - 32)/ 1.8
dff

    Year       City  AvgTemperature  AvgTempCelcius
0   1995  Barcelona       62.019178       16.677321
1   1995     Bogota       54.963014       12.757230
2   1996  Barcelona       61.125956       16.181087
3   1996     Bogota       55.083333       12.824074
4   1997  Barcelona       62.612329       17.006849
5   1997     Bogota       56.231507       13.461948
6   1998  Barcelona       60.273973       15.707763
7   1998     Bogota       49.642466        9.801370
8   1999  Barcelona       61.204658       16.224810
9   1999     Bogota       52.231781       11.239878
10  2000  Barcelona       60.069399       15.594111
11  2000     Bogota       54.918579       12.732544
12  2001  Barcelona       59.279452       15.155251
13  2001     Bogota       55.416164       13.008980
14  2002  Barcelona       58.044110       14.468950
15  2002     Bogota       54.686849       12.603805
16  2003  Barcelona       63.139452       17.299696
17  2003     Bogota       54.973425       12.763014
18  2004  Barcelona       62.875137       17.152854
19  2004     Bogota       55.598087       13.110049
20  2005  Barcelona       62.041918       16.689954
21  2005     Bogota       56.010685       13.339269
22  2006  Barcelona       61.985479       16.658600
23  2006     Bogota       55.415890       13.008828
24  2007  Barcelona       60.556164       15.864536
25  2007     Bogota       54.667671       12.593151
26  2008  Barcelona       59.651913       15.362174
27  2008     Bogota       51.011475       10.561931
28  2009  Barcelona       61.552055       16.417808
29  2009     Bogota       56.073151       13.373973
30  2010  Barcelona       60.667945       15.926636
31  2010     Bogota       56.933699       13.852055
32  2011  Barcelona       62.834795       17.130441
33  2011     Bogota       56.803562       13.779756
34  2012  Barcelona       63.032240       17.240134
35  2012     Bogota       56.354645       13.530358
36  2013  Barcelona       62.246575       16.803653
37  2013     Bogota       56.840274       13.800152
38  2014  Barcelona       62.437260       16.909589
39  2014     Bogota       56.435616       13.575342
40  2015  Barcelona       61.795082       16.552823
41  2015     Bogota       56.621038       13.678355
42  2016  Barcelona       60.800820       16.000455
43  2016     Bogota       56.113388       13.396327
44  2017  Barcelona       62.514795       16.952664
45  2017     Bogota       57.110411       13.950228
46  2018  Barcelona       61.391507       16.328615
47  2018     Bogota       54.839726       12.688737
48  2019  Barcelona       59.719178       15.399543
49  2019     Bogota       55.087671       12.826484
50  2020  Barcelona       55.437313       13.020730
51  2020     Bogota       58.070149       14.483416

In [ ]:
grader.check("q3")

**Pregunta 4** Para el miso data set anterior realizar lo siguiente:

 a. Crear un nuevo data frame llamado df1, con los valores de temperatura de bogota que sean menores que 20 °C. 
 b. Crear un nuevo data frame llamado df2, con los valores de temperatura de Barcelona que este entre 10 °C y 20 °C

In [17]:
dff['AvgTempCelcius']

0     16.677321
1     12.757230
2     16.181087
3     12.824074
4     17.006849
5     13.461948
6     15.707763
7      9.801370
8     16.224810
9     11.239878
10    15.594111
11    12.732544
12    15.155251
13    13.008980
14    14.468950
15    12.603805
16    17.299696
17    12.763014
18    17.152854
19    13.110049
20    16.689954
21    13.339269
22    16.658600
23    13.008828
24    15.864536
25    12.593151
26    15.362174
27    10.561931
28    16.417808
29    13.373973
30    15.926636
31    13.852055
32    17.130441
33    13.779756
34    17.240134
35    13.530358
36    16.803653
37    13.800152
38    16.909589
39    13.575342
40    16.552823
41    13.678355
42    16.000455
43    13.396327
44    16.952664
45    13.950228
46    16.328615
47    12.688737
48    15.399543
49    12.826484
50    13.020730
51    14.483416
Name: AvgTempCelcius, dtype: float64

In [51]:
df1 = dff[(dff['City'] == 'Bogota')]# & (dff['AvgTempCelcius'])]
...
df2 = dff[(dff['City'] == 'Barcelona')]# & (10 < dff['AvgTempCelcius'] < 20)]
...
print(df1.head())
print(df2.head())

   Year    City  AvgTemperature  AvgTempCelcius
1  1995  Bogota       54.963014       12.757230
3  1996  Bogota       55.083333       12.824074
5  1997  Bogota       56.231507       13.461948
7  1998  Bogota       49.642466        9.801370
9  1999  Bogota       52.231781       11.239878
   Year       City  AvgTemperature  AvgTempCelcius
0  1995  Barcelona       62.019178       16.677321
2  1996  Barcelona       61.125956       16.181087
4  1997  Barcelona       62.612329       17.006849
6  1998  Barcelona       60.273973       15.707763
8  1999  Barcelona       61.204658       16.224810

In [ ]:
grader.check("q4")

<!-- BEGIN QUESTION -->

**Pregunta  5** Para el data set df, con todos los valores de Bogota y Barcelona, realizar en misma figura lo siguiente, recuerda poner las unidades y etiquetas respectivas :

 d. Gráfico de AvgTempCelcius como función del año para la ciudad de Bogotá.

 e. Gráfico AvgTempCelcius como funcion del año para la ciudad de Barcelona.

In [ ]:
year_bo =
avgtempcelcius_bo =

year_ba =
avgtempcelcius_ba =

plt.figure(figsize=(6,4))
plt.plot(Year,AvgTempCelcius,"--*", label= '$f(x) = x^2$')
plt.plot(X,DX,"--*", label= '$f´(x) = 2x$')
plt.xlabel("preimagen", fontsize=14)
plt.xticks(fontsize=14)
plt.ylabel("imgagen", fontsize=14)
plt.yticks(fontsize=14)
plt.title('Intersección entre curvas $f(x) y f´(x)$')
plt.grid()
plt.legend()
plt.show()

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Pregunta 5:** ¿Qué puede inferir del gráfico?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

These are some submission instructions.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)