Metodos computacionales actividad 01

Felipe Quitian Gallego   Cc. 1000077023

In [66]:
# Construir un programa en el que ingresador dos numeros a y b,
# el programa debe retornar el valor de la division y el residuo

a = int(input('Ingrese el valor del primer numero:'))
b = int(input('Ingrese el valor del segundo numero:'))
c = a/b
d = a%b

print(f'El resultado de la division es {c:.4}')
print('El residuo de la division es',d)

Ingrese el valor del primer numero:7
Ingrese el valor del segundo numero:29
El resultado de la division es 0.2414
El residuo de la division es 7

In [67]:
# Crea una función llamada doble_factorial que reciba un parámetro llamado n.
# La función debe devolver el doble factorial de n,
# que se define como el producto de todos los números naturales desde n hasta 1 que tienen el mismo paridad que n.

def doble_factorial(n):
    l = []
    a = []
    for i in range(n):
        l.append(n-i)
    for i in range(0, len(l),2):
        a.append(l[i])
    b = a[0]
    for i in range(1, len(a)):
        b *= a[i]
    return b

In [68]:
doble_factorial(5)

15

In [69]:
doble_factorial(6)

48

In [70]:
doble_factorial(7)

105

In [71]:
doble_factorial(8)

384

In [72]:
# Crea una función llamada lucas que reciba un parámetro llamado n.
# La función debe devolver el n-ésimo término de la sucesión de Lucas,
# que se define de forma similar a la sucesión de Fibonacci, pero con los dos primeros términos iguales a 2 y 1.

def lucas(n):
  if n==0:
    return 2
  if n==1:
    return 1
  else:
    a = [2,1]
    for i in range (0,n):
      a.append(a[i]+a[i+1])
  return a[n]

In [73]:
lucas(3)

4

In [74]:
lucas(9)

76

In [75]:
lucas(10)

123

In [76]:
lucas(11)

199

In [77]:
# Primero creamos una funcion que nos calcule el factorial de un numero n
def factorial(n):
  if n == 0:
    return 1
  if n < 0:
    return 'El numero no puede ser negativo'
  if type(n) == float:
    return 'El numero debe ser entero'
  else:
    s = n
    while (n>1):
        n=n-1
        s=s*n
  return s

In [78]:
# Crea una función llamada binomial que reciba dos parámetros llamados n y k.
# La función debe devolver el coeficiente binomial de n y k,
# que se define como el número de formas de elegir k elementos distintos de un conjunto de n elementos.

def binomial(n,k):
  m = factorial(n)
  q = factorial(k)
  d = factorial(n-k)

  c = m / (q * d)

  return c

In [79]:
binomial(5,3)

10.0

In [80]:
binomial(6,4)

15.0

In [81]:
binomial(7,2)

21.0